body {
    height: 100rem;
    overflow: hidden;
    background-color: black;
    color: white;
}

canvas {
    /* margin-top: 8px; */
    border: 1px solid black;
}

button {
    max-width: 50%;
    width: 70px;
    border-radius: 5.5px;
    padding: 3px;
    background-color: rgb(24, 94, 224);
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(21, 72, 167);
}

h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

