body {
    height: 100rem;
    overflow: hidden;
    background-color: black;
    color: white;
}

canvas {
    /* margin-top: 8px; */
    border: 1px solid black;
}

button {
    max-width: 50%;
    width: 60px;
    margin-bottom: 5px;
}

h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
